In [1]:
import pandas as pd

In [ ]:
agriculture_data = pd.read_excel("../src/agriculture 04.26.2025.xlsx", header=[0, 1])

In [3]:
agriculture_data.columns = ['_'.join([str(i).strip() for i in col if pd.notna(i)]) for col in agriculture_data.columns.values]

In [4]:
agriculture_data.head()

,Commodity_Unnamed: 0_level_1,Variety/ Source_Unnamed: 1_level_1,PAPINE_Lowest,PAPINE_Highest,PAPINE_Most Freq.,CORONATION_Lowest,CORONATION_Highest,CORONATION_Most Freq.,CROSS ROADS_Lowest,CROSS ROADS_Highest,...,BARBICAN ROAD_Hi-Lo,CONSTANT SPRING_Hi-Lo,CONSTANT SPRING_Select Grocers,HARBOUR VIEW_Shoppers Fair,RED HILLS ROAD_Lee's Food Fair,RED HILLS ROAD_Price Smart,PORTMORE_Progressive Foods,PORTMORE_Mega Mart,PORTMORE_Joong,PORTMORE_Hi-Lo
0,Broccoli,Imported,NaN,NaN,NaN,2200.0,2200.0,2200.0,NaN,NaN,...,3060.0,3060.89,3000.0,1888.1,2480.18,NaN,1525.00,2800.0,2250.0,3060.89
1,Cabbage (Green),Local,330.0,550.0,440.0,110.0,220.0,121.0,550.0,660.0,...,NaN,701.88,495.0,NaN,423.28,999.0,330.00,580.0,660.0,745.34
2,Cabbage (Red),Imported,NaN,NaN,NaN,880.0,880.0,880.0,NaN,NaN,...,1157.1,1157.01,1250.0,592.3,925.93,NaN,481.80,1360.0,1167.0,1157.01
3,Callaloo,Shredded,660.0,770.0,660.0,440.0,550.0,440.0,660.0,660.0,...,772.2,772.20,NaN,NaN,554.40,449.0,659.98,627.0,594.0,569.65
4,Callaloo,Whole,550.0,660.0,550.0,330.0,330.0,330.0,660.0,660.0,...,519.0,519.00,NaN,NaN,550.00,NaN,405.00,480.0,NaN,519.00